footer {
  margin-left: 10%;
}

footer div {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

footer p {
  font-size: 11px;
  margin: 20px;
}

@media only screen and (min-width: 600px) {

  footer {
    margin: 0;
  }

  footer div {
    justify-content: flex-end;
  }

}
