body {
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 10%;
  max-width: 100%;
}

.description {
  margin-bottom: 55px;
}

.block-anchor {
  width: 150px;
  border-bottom: 25px solid;
}


@media only screen and (min-width: 600px) {

  .block-anchor {
    width: 250px;
    border-bottom: 35px solid;    
  }

}